<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>2023_adv_java</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.google.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestHeaderServlet</servlet-name>
    <servlet-class>com.google.controller.RequestHeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeaderServlet</servlet-name>
    <url-pattern>/RequestHeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClogoutServlet</display-name>
    <servlet-name>ClogoutServlet</servlet-name>
    <servlet-class>com.google.controller.ClogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClogoutServlet</servlet-name>
    <url-pattern>/ClogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecretCodeServlet</display-name>
    <servlet-name>SecretCodeServlet</servlet-name>
    <servlet-class>com.google.controller.SecretCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretCodeServlet</servlet-name>
    <url-pattern>/SecretCodeServlet</url-pattern>
  </servlet-mapping>
  <session-config>
        <session-timeout>5</session-timeout>
  </session-config>
</web-app>